/*  your css code here. If applicable */
*{
	background-color: rgb(135, 206, 235);
}
li{
	background-color: gray;
	padding:10px;
}
#stpara{
	color:white;
	background-color: rgb(0,0,0);
}
#rdpara{
	color:red;
}
